@model Student


<div class="container col-6 border shadow">
	
	<div class="text-center">
		<h1 class="display-5">Edit Student Record</h1>
	</div>
	<div asp-validation-summary = "All" class="text-danger"></div>

	<form method="post">
		
		<input asp-for="Id" hidden /> //update ettikten sonra yeni bir primary key verilmesini önlüyor.
		
		<div class="form-floating py-2">
			<input asp-for="Name" type="text" class="form-control" />
			<label asp-for="Name" class="form-label"></label>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="form-floating py-2">
			<input asp-for="Surname" type="text" class="form-control" />
			<label asp-for="Surname" class="form-label"></label>
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>

		<div class="form-floating py-2">
			<input asp-for="StudentNumber" type="number" class="form-control" />
			<label asp-for="StudentNumber" class="form-label"></label>
			<span asp-validation-for="StudentNumber" class="text-danger"></span>
		</div>

		<div class="form-floating py-2">
			<input asp-for="Age" type="number" class="form-control" />
			<label asp-for="Age" class="form-label">Age</label>
			<span asp-validation-for="Age" class="text-danger"></span>
		</div>
		<div class="form-floating py-2">
			<input asp-for="DepartmentId" type="number" class="form-control" />
			<label asp-for="DepartmentId" class="form-label">Age</label>
			<span asp-validation-for="DepartmentId" class="text-danger"></span>
		</div>
		<div class="py-2">
			<button type="submit" class="btn btn-primary form-control">Update</button>
		</div>
	</form>
</div>

@section Scripts{
	@{
		<partial name = "_ValidationScriptsPartial"></partial>
	}
}

